<!--<div class="container mb-5">-->
<!--  <div class="col-md-4">-->
<!--    <div id="doctors">-->
      <%# @doctors.each do |doctor| %>
        <%# if doctor.active? %>
<!--          <div class="doctor-for-patient_info_container", style="padding:46px">-->
            <%#= render doctor %>
            <%#= link_to 'Make an appointment', new_patients_appointment_path(doctor_id: doctor.id), class: 'btn btn-monkey ms-2', style: "color: black" %>
<!--          </div>-->
        <%# end %>
<!--        </div>-->
      <%# end %>
<!--      </div>-->
<!--</div>-->
<div class="container gap-container">
  <div id="doctors">
    <div class="row">
      <% @doctors.each do |doctor| %>
        <% if doctor.active? %>
          <div class="col-md-4">
            <div class="doctor-for-patient_info_container" style="padding: 46px">
              <%= render doctor %>
              <%= link_to 'Make an appointment', new_patients_appointment_path(doctor_id: doctor.id), class: 'btn btn-monkey ms-2', style: "color: black" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
