<p style="color: green"><%= notice %></p>

<h1>Doctors</h1>

<div id="doctors">
  <% @doctors.each do |doctor| %>
      <% if doctor.active? %>
        <%= render doctor %>
        <%= link_to 'Записаться на прием', new_patients_appointment_path(doctor_id: doctor.id), class: 'btn btn-primary' %>
      <% end %>
    <% end %>
</div>
