<div class="app-back-home-page">
  <%= link_to "Back to home page", doctor_root_path, style: "color: #7eaa57;" %>
</div>
<div class="container">
    <p style="color: green"><%= notice %></p>

    <h1 class="app-all-text">All appointments</h1>

    <div id="appointments">
      <% @appointments.each do |appointment| %>
        <div class="appointment_info_container">
            <%= render appointment %>
            <p>
              <%= link_to "Show this appointment", doctors_appointment_path(appointment), style: "color: #7eaa57;" %>
            </p>
        </div>
      <% end %>
    </div>
</div>
