<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="appointment_info_container">
    <%= render @appointment %>

    <div>
      <%= link_to "Back to all appointments", doctors_appointments_path, style: "color: #7eaa57;" %> |
      <%= link_to "Back to home page", doctor_root_path, style: "color: #7eaa57;" %>
    </div>
  </div>
</div>