<div class="container">
  <div class="unavailable-dates-form_container">
    <h1 class="unvdatestext">New unavailable date</h1>

    <% if flash[:error].present? %>
      <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>

    <%= render "form", unavailable_date: @unavailable_date %>

    <br>

    <div>
      <%= link_to "Back to home page", doctor_root_path, style: "color: #7eaa57;" %>
    </div>
  </div>
</div>