<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="unavailable-date-for-doctor_info_container">
    <%= render @unavailable_date %>

    <div class="mt-3">
      <%= link_to "Back to home page", doctor_root_path, style: "color: #7eaa57;" %> |
      <%= link_to "Back to unavailable dates", unavailable_dates_path, style: "color: #7eaa57;" %>
    </div>
  </div>
</div>