<p style="color: green"><%= notice %></p>

<%= render @unavailable_date %>

<div>
  <%= link_to "Back to home page", doctor_root_path %>

<!--  <%#= link_to "Edit this unavailable date", edit_unavailable_date_path(@unavailable_date) %> |-->
  <%#= link_to "Back to unavailable dates", unavailable_dates_path %>

  <%#= button_to "Destroy this unavailable date", @unavailable_date, method: :delete %>
</div>
