<div id="<%= dom_id patient_analysis %>">
  <p>
    <strong>Analysis:</strong>
    <%= patient_analysis.analysis_id %>
  </p>

  <p>
    <strong>Analysis date:</strong>
    <%= patient_analysis.analysis_date %>
  </p>

</div>
