<h1>Editing patient analysis</h1>

<%= render "form", patient_analysis: @patient_analysis %>

<br>

<div>
  <%= link_to "Show this patient analysis", @patient_analysis %> |
  <%= link_to "Back to patient analyses", patient_analyses_path %>
</div>
