<h1>Patient analyses</h1>
<div id="patient_analysis">
<div class="row">
  <% @patient_analyses.each do |patient_analysis| %>
    <div class="col-md-3">
      <%= render patient_analysis %>
    </div>
  <% end %>
</div>
</div>