<div id="<%= dom_id declaration %>">
  <p>
    <strong>Patient:</strong>
    <%= declaration.patient_id %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= declaration.doctor_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= declaration.start_date %>
  </p>

</div>
