<h1>Editing declaration</h1>

<%= render "form", declaration: @declaration %>

<br>

<div>
  <%= link_to "Show this declaration", @declaration %> |
  <%= link_to "Back to declarations", declarations_path %>
</div>
