<body>

<div class="patient-root-container">
  <div class="black-text-container">
    <label for="specialty">Search for doctors by specialization or name</label>
  </div>
</div>

<div class="patient-form-container">
  <div class="grey-text-container">
    <label for="specialty">Make an appointment with a doctor online</label>
  </div>
</div>

<div class="patient-form-container">
<div class="container">
<form action="<%= patients_doctors_path %>" method="get">
  <div class="input-group">
    <input class="form-control" type="text" placeholder="Search for doctor" aria-label="Search" id="specialty" name="specialty">
    <button class="btn btn-monkey" type="submit">Search</button>
  </div>
</form>
</div>
</div>
</body>