<div class = 'gap-container'>
<div class = 'text1-container'>
<h1>Patients</h1>
</div>
</div>
<div class="row">
  <% @patients.each do |patient| %>
    <div class="col-md-3">
      <%= render patient %>
      <p>
        <%= link_to "Show this patient", patient %>
      </p>
    </div>
  <% end %>
</div>