<div class="container" style="justify-content: center; align-items: center;">
  <div style="margin-top: 10vh;">
     <div class = "patient_info_container", style="padding:46px">
<%= render @patient %>
     </div>
</div>
</div>