<div id="<%= dom_id outpatient_card %>">
  <p>
    <strong>Patient:</strong>
    <%= outpatient_card.patient_id %>
  </p>

<!--  <p>-->
<!--    <strong>Appointment:</strong>-->
    <%#= outpatient_card.appointment_id %>
<!--  </p>-->

</div>
