<h1>Editing outpatient card</h1>

<%= render "form", outpatient_card: @outpatient_card %>

<br>

<div>
  <%= link_to "Show this outpatient card", @outpatient_card %> |
  <%= link_to "Back to outpatient cards", outpatient_cards_path %>
</div>
