<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="outpatient_card_info_container">
    <%= render @outpatient_card %>

    <div>
      <%= link_to "Back to all outpatient cards", outpatient_cards_path, style: "color: #7eaa57;" %> |
      <%= link_to "Back to home page", doctor_root_path, style: "color: #7eaa57;" %>
    </div>
  </div>
</div>