<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="doctor-for-doctor_info_container">
    <%= render @doctor %>

    <div class="mt-3">
      <%= link_to "Back to home page", doctor_root_path, style: "color: #7eaa57;" %> |
      <%= link_to "Settings", edit_doctor_path(@doctor), style: "color: #7eaa57;" %>
    </div>
  </div>
</div>