
<div class="container" style="justify-content: center; align-items: center; height: 100vh;">
  <div style="margin-top: 20vh;">
    <div class ="text-container ms-2" style="text-align: center;">New Appointment</div>
    <%= render "form", appointment: @appointment %>
    <br>
  </div>
</div>
